<nb-layout>
    <nb-layout-header subheader>SupplyNote</nb-layout-header>

    <nb-sidebar>
        <nb-layout-column id="sidebarLayout">
            <button nbButton>Track URLs</button>
            <button nbButton>Logout</button>
        </nb-layout-column>
    </nb-sidebar>

    <nb-layout-column>
        Enter a URL
        <input nbInput id="input" type="text" value={{urlText}} (keydown)="handleChange($event)" />
        <div>
            <button nbButton (click)="handleClick($event)">Shorten</button>
        </div>
    </nb-layout-column>
</nb-layout>