<div class="card-row">
    <div class="card-col">
        <nb-card size="giant" id="nbCard">
            <nb-card-header>Login</nb-card-header>
            <div id="loginCred">
                <nb-layout-column>
                    <div class="inputFields text">
                        <label>Email:</label>
                        <input nbInput status="primary" type="email" />
                    </div>
                    <div class="inputFields">
                        <label>Password:</label>
                        <input nbInput status="primary" type="password" />
                    </div>
                </nb-layout-column>
            </div>
            <button nbButton hero status="primary" class="loginBtn">Login</button>
        </nb-card>
    </div>
</div>