:host {
    display: block;
 
    overflow-x: hidden;
    overflow-y: auto;
}

.card-row {
    height: 100%;
    width: 100%;
    display: flex;
    margin: 0 -0.5rem;
}

.card-col {
    height: 50rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 0 calc(50% - 1rem);
    margin: 0 0.5rem;
}

#nbCard {
    width: 50%;
    height: 35rem;
}

#loginCred {
    padding: 25px;
    margin: auto;
}

.inputFields {
    display: flex;
    align-items: center;
    gap: 15px;
}

.inputFields label {
    font-weight: bold;
}

.text {
    gap: 44px;
    margin-bottom: 30px;
}

.loginBtn {
    margin: auto;
    width: 10rem;
}